.image-container-with-spinner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  /* margin: 0; */
  /* width: 100%; */
}
.image-spinner {
  position: absolute;
}
@media (min-width: 700px) {
  .image-container-with-spinner {
    min-height: 300px;
  }
}
