.projects-outer-container {
}
.projects-container {
}
/* group btns */
.projects-btns-group {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px 10px;
  border-top: 2px solid var(--blue);
  border-bottom: 2px solid var(--blue);
}
.group-btns-title {
  margin: 0 12px 0 0;
  font-size: 20px;
  color: var(--blue);
  font-weight: bold;
  text-transform: uppercase;
}
.projects-btns-group button {
  color: var(--blue);
  background-color: var(--light-grey);
  border: none;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 40px;
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 16px;
}
.selected-project-btn {
  font-family: "Lora", serif;
  font-weight: 700 !important;
  background-color: var(--light-blue) !important;
  color: var(--blue) !important;
  text-decoration: underline;
}
.projects-btns-group button:hover {
  color: var(--blue);
  background-color: var(--light-blue) !important;
}

.projects-content {
  padding: 20px 20px;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}
/* paragraphs */
.project-subTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 20px 8px 20px;
  text-transform: capitalize;
}
.project-subTitle + p {
  /* text-indent: 20px; */
}
.projects-content p {
  /* font-size: 16px; */
  line-height: 1.5;
}
.projects-content p::first-letter {
  text-transform: capitalize;
}
.first-p {
  text-indent: 20px;
}
.first-p::first-letter {
  font-weight: bold;
  text-transform: capitalize;
}
.highlighted-p {
  background-color: var(--light-blue);
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  line-height: 1.8 !important;
  /* width: fit-content; */
}

/* images */
.project-main-image {
  max-width: 100%;
}
.project-image-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}
.project-image-container img {
  width: 100%;
  max-width: 800px;

  margin: 10px auto 0 auto;
}

@media (min-width: 760px) {
  .projects-btns-group button {
    border: none;
    text-transform: uppercase;
  }
  .projects-content {
    padding: 20px 80px;
  }
}
