.projects-section {
}

.projects-content {
  padding: 20px 20px;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}
/* paragraphs */
.project-subTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 20px 8px 20px;
  text-transform: capitalize;
}

.projects-content p {
  line-height: 1.5;
  /* text-indent: 20px; */
}
.projects-content p::first-letter {
  text-transform: capitalize;
}
.first-p {
  /* text-indent: 20px; */
}
.first-p::first-letter {
  text-transform: capitalize;
}
.highlighted-p {
  background-color: var(--light-blue);
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  line-height: 1.8 !important;
}

/* images */
.project-main-image {
  max-width: 100%;
}
.project-image-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}
.project-image-container img {
  width: 100%;
  max-width: 800px;

  margin: 10px auto 0 auto;
}

@media (min-width: 760px) {
  .projects-content {
    padding: 20px 80px;
  }
}
