/* for mobile */

.profile-outer-container {
  background-image: radial-gradient(
    circle,
    rgb(17, 45, 78, 1),
    rgba(3, 33, 64, 1)
  );
}

.profile-container {
  padding: 40px 20px 20px 20px;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}
.profile-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.profile-image-container img {
  width: 170px;
  height: 170px;
  box-sizing: content-box;
  border-radius: 50%;
  border: 3px solid var(--light-blue);
  padding: 0;
}

.profile-name {
  font-size: 30px;
  letter-spacing: 0.5px;
  text-align: start;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  margin-bottom: 20px;
  transition: 0.5s;
}
.profile-name:hover {
  font-size: 34px;
}
.profile-barnd-statement {
  color: var(--light-blue);
  text-align: start;
}
.profile-contact {
  background-color: var(--light-grey);
  color: var(--mid-grey);
  border-radius: 8px;
  text-align: start;
  width: 100%;
  padding: 10px 20px;
  margin: 0 auto;
  font-size: 14px;
  margin-top: 10px;
}

@media (min-width: 600px) {
  .profile-name {
    /* font-size: 28px; */
    text-align: center;
  }
  .profile-barnd-statement {
    text-align: center;
  }
  .profile-contact {
    max-width: 900px;
    min-width: 450px;
    width: fit-content;
    text-align: center;
  }
}
@media (min-width: 950px) {
  .profile-image-container img {
    width: 200px;
    height: 200px;
  }

  .profile-barnd-statement {
    max-width: 900px;
    margin: 0 auto;
  }
}
