.section-group-btns {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px 10px;
  border-top: 2px solid var(--blue);
  border-bottom: 2px solid var(--blue);
}
.section-title {
  margin: 0 12px 0 0;
  font-size: 20px;
  color: var(--blue);
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}

.section-group-btns button {
  color: var(--blue);
  background-color: var(--light-grey);
  border: none;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 40px;
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
  border: 1.5px solid transparent;
}
.section-group-btns button:hover {
  color: var(--blue);
  background-color: var(--light-blue);
}
.selected-group-btn {
  font-family: "Lora", serif;
  font-weight: 700 !important;
  /* background-color: var(--light-blue) !important; */
  background-color: white !important;
  color: var(--blue);
  text-decoration: underline;
  border: 1.5px solid var(--blue) !important;
  animation: scale var(--animation-duration);
}
