.about-section {
  align-self: center;
}
.about-content {
  padding: 20px 20px;
  max-width: var(--max-width);
  margin: 0 auto;
  min-height: 250px;
  animation: opacity var(--animation-duration);
}

@media (min-width: 760px) {
  .about-content {
    padding: 20px 80px;
  }
}
