@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
:root {
  --max-width: 1200px;
  --horizontal-margin: 20px;
  --border-radius: 5px;
  --animation-duration: 0.3s;

  --teal: rgb(0, 173, 181);
  --light-grey: #f9f7f7;
  --mid-grey: rgb(100, 100, 100);
  --dark-grey: rgb(57, 62, 70);
  --almost-black: rgb(34, 40, 49);
  --background-color: #f9f7f7;
  --dark-blue: rgb(17, 45, 78);
  --blue: rgb(63, 114, 175);
  --light-blue: rgb(219, 226, 239);
  --lighter-blue: rgba(234, 236, 241, 0.5);
  --pink: #f15ba6;
  --green: #3caa8c;
  --light-green: #6fae9e;
}

*,
p,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  background-color: var(--light-grey);
  background-color: white;
  font-family: "lora", serif;
  /* color: var(--dark-blue); */
  color: var(--almost-black);
}

a {
  color: var(--blue);
  text-decoration: underline;
  font-weight: normal;
}
.button-link-style {
  color: var(--blue);
  text-decoration: underline;
  font-weight: normal;
  border: none;
  background-color: transparent;
}
.align-right {
  width: 100%;
  text-align: end;
}
hr {
  border: none;
  border-top: 1px solid var(--light-blue);
}

.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}

.list-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  text-decoration: underline;
  text-transform: capitalize;
}
.project-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  width: 24px;
  height: 24px;
  user-select: none;
}

/***************************************
animations
***************************************/
.skills,
.experiense,
.education,
.certifications,
.snakes-and-ladders-container,
.memories-container,
.portfolio-container {
  animation: opacity var(--animation-duration);
}
@keyframes scale {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes opacity {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
